.container {
  max-width: 800px;
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

button {
  background-color: #008cba;
  color: white;
}

.lists-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.task-container {
  background-color: #e6e2d3;
  border-radius: 6px;
}
.list {
  padding: 8px;
  border: 5px solid white;
  border-radius: 10px;
  width: 50%;
  background-color: #f0f0f0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

li:last-child {
  border-bottom: none;
}

.item-text {
  flex: 1;
  text-align: center;
}

.item-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

i {
  border-radius: 4px;
  margin: 1px;
  padding: 4px;
  color: white;
}

.edit-icn {
  background-color: #008cba;
}

.delete-icn {
  background-color: red;
}

.move-icn {
  background-color: #4caf50;
}

.btn {
  cursor: pointer;
}
